<div class="container-fluid">
    <div class="row no-gutters mainrow">
        <div class="col-md-4 no-gutters" style="border: 5px solid red;">
            <h1 class="userprofileheader">User Profile</h1>
            <button>Edit profile information</button>
        </div>
        <div class="col-md-8 no-gutters userinformationrow" style="border: 5px solid blue;">
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
                <div class="col-md-4">User information example</div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row no-gutters mainrow">
        <div class="col-md-12 no-gutters" style="border: 5px solid red;">
            <h1 class="userprofileheader">My Flights</h1>
        </div>
        <div class="col-md-12 no-gutters userinformationrow" style="border: 5px solid blue;">
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
            </div>
            <div class="row no-gutters innerrow">
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
                <div class="col-md-4">User information Flights example</div>
            </div>
        </div>
    </div>
</div>
