<div class="container-fluid componentContainer">
    <div class="row">
        <div class="col d-flex justify-content-center">
            <div class="container loginBoxBorder movingGradient">
                <div class="loginBox container-fluid">
                    <h4 class="headerText"><span class="textGradient">Check your email</span></h4>
                    <h5>We have emailed a link to validate your account. The link will be valid for one day.</h5>
                </div>
            </div>
        </div>
    </div>
</div>

