<app-mainheader [hideSignInButton]="true"></app-mainheader>
<div class="container-fluid componentContainer">
  <app-alert
    *ngIf="errorMsg"
    [message]="errorMsg"
    (closeEvent)="onCloseAlert()"
    [moreInfo]="moreInfoMsg"
  >
  </app-alert>
  <div class="row">
    <div class="col d-flex justify-content-center firstRow">
      <div class="container loginBoxBorder movingGradient">
        <div class="loginBox container-fluid">
          <h4 class="headerText">
            <span class="textGradient">UTOPIA Password Reset</span>
          </h4>
          <h5>Enter the email you use for Utopia</h5>
          <div *ngIf="isLoading" style="text-align: center">
            <app-loading-spinner></app-loading-spinner>
          </div>
          <form
            *ngIf="!isLoading"
            #passwordResetForm="ngForm"
            (ngSubmit)="onSubmitPasswordReset(passwordResetForm)"
          >
            <label for="email"><b>Email</b></label>
            <div class="tooltipInside">
              <input
                type="email"
                placeholder="Enter your email, so we can reset your password"
                id="email"
                class="form-control"
                ngModel
                name="email"
                autocomplete="email"
                required
                email
              />
              <span
                class="dot movingGradient"
                data-tooltip="Enter the email with which you need a password reset"
                data-tooltip-position="right"
                >i</span
              >
            </div>
            <button class="submitButton" type="submit">Reset Password</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
