<app-mainheader [hideSignInButton]="true"></app-mainheader>
<div class="container-fluid componentContainer">
    <div class="row">
        <div class="col d-flex justify-content-center firstRow">
            <div class="container loginBoxBorder movingGradient">
                <div class="loginBox container-fluid">
                    <h4 class="headerText"><span class="textGradient">UTOPIA Password Reset</span></h4>
                    <h5>Enter the email you use for Utopia</h5>
                    <form action="login" method="POST">
                        <label for="username"><b>Email</b></label>
                        <div class="tooltipInside">
                            <input type="text" placeholder="Enter your email, so we can reset your password" name="email" required>
                            <span class="dot movingGradient" data-tooltip="Enter the email with which you need a password reset" data-tooltip-position="right">i</span>
                        </div>
                        <button class= "submitButton" type="submit">Reset Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
