.componentContainer{
    background:  url("../pictures/Blue-WaterColor-Background.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: calc(100vh - 75px);
}

.firstRow{
    position: relative; 
    position: relative; 
    margin-top: 150px;
}

.movingGradient{
    background: linear-gradient(52deg, #1508AF, #0bc1da, #AFC3F2, #3E4C6E);
    background-size: 800% 800%;
    -webkit-animation: animatedGradient 40s ease infinite;
    -moz-animation: animatedGradient 40s ease infinite;
    animation: animatedGradient 40s ease infinite;
}

.tooltipInside{
    position: relative;
    width: 100%;
}

[data-tooltip] {
    display: inline-block;
    position: relative;
    cursor: help;
    padding: 4px;
}
/* Tooltip styling */
[data-tooltip]:before {
    content: attr(data-tooltip);
    display: none;
    position: absolute;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 4px 8px;
    font-size: 14px;
    line-height: 1.4;
    min-width: 100px;
    text-align: center;
    border-radius: 4px;
    background: linear-gradient(52deg, #1508AF, #0bc1da, #AFC3F2, #3E4C6E);
    background-size: 800% 800%;
    -webkit-animation: animatedGradient 40s ease infinite;
    -moz-animation: animatedGradient 40s ease infinite;
    animation: animatedGradient 40s ease infinite;
}

[data-tooltip-position="right"]:before,
[data-tooltip-position="left"]:before {
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}

[data-tooltip-position="right"]:before {
    left: 100%;
    margin-left: 6px;
}

[data-tooltip-position="left"]:before {
    right: 100%;
    margin-right: 6px;
}

[data-tooltip]:after {
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

[data-tooltip-position="right"]:after,
[data-tooltip-position="left"]:after {
    top: 50%;
    margin-top: -6px;
}

[data-tooltip-position="right"]:after {
    left: 100%;
    border-width: 6px 6px 6px 0;
    border-right-color: #000;
}

[data-tooltip-position="left"]:after {
    right: 100%;
    border-width: 6px 0 6px 6px;
    border-left-color: #000;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    display: block;
    z-index: 50;
}

.smallerdot{
    float: right;
    z-index: 10;
    position: absolute;
    top: 10px;
    right: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "American TypeWriter";
    font-weight: bold;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

.dot{
    float: right;
    z-index: 10;
    position: absolute;
    top: 8px;
    right: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "American TypeWriter";
    font-weight: bold;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.textGradient{
    font-size: larger;
    font-family: 'Futura';
    font-weight: bold;
    background: linear-gradient(52deg, #1508AF,  #8E2AE3);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.loginBox{
    height: 100%;
    background-color: white;
    display: flex;
    flex-direction: column; 
    justify-content: space-around;
    align-items: center;
}

.loginBoxBorder{
    width: 40%;
    height: 300px;
    padding: 4px;
}

.submitButton{
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    color: white;
    font-size: large;
    background-color: #4CAF50;
    padding: 7px 20px;
    margin: 18px 0px 0px 0px;
    border: none;
    cursor: pointer;
    width: 80%;
}

h4{
    margin-top: 32px;
    margin-bottom: 20px;
}

h5{
    margin-bottom: 20px;
}

@-webkit-keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@-moz-keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}
@keyframes animatedGradient {
    0%{background-position:0% 79%}
    50%{background-position:100% 22%}
    100%{background-position:0% 79%}
}

form{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

label{
    margin-bottom: 0rem;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
}
/* Full-width inputs */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 10px;
    margin: 0px 0px;
    display: inline-block;
    border-width: 0px 0px 1px 0px;
    border-style: solid black;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
  }

input[type=text]:focus, input[type=password]:focus, .submitButton:focus, .createAccountButton:focus, .dot:focus{
    outline: 2px dashed #1508AF;
}

  label{    
      margin-right: auto;
  }
  
  /* Add a hover effect for buttons */
  .submitButton:hover {
    background-color: #16891F;
  }

@media screen and (max-width: 1058px){
 
    .loginBoxBorder{
        width: 65%;
    }

    form{
        padding-left: 32px;
        padding-right: 32px;
    }
}

@media screen and (max-width:800px){
    .componentContainer{
        margin-top: 20px;
        background:none;
    }

    .firstRow{
        margin-top: 0px;
    }

    h4, h5{
        margin-right: auto;
    }

    h5{
        margin-bottom: 30px;
    }
    .loginBoxBorder{
        visibility: hidden;
        width: 100%;
        margin: 0px;
    }
    .loginBox{
        visibility: initial;
        width: 100%;
    }
    .submitButton{
        padding: 7px 0px;
        margin: 24px;
    }

    .tooltipInside{
        margin-right: auto;
    }

    form{
        padding-left: 0px;
        padding-right: 0px;
    }
}