<div class="container-fluid componentContainer">
    <div class="row firstRow">
        <div class="col d-flex justify-content-center">
            <div class="container loginBoxBorder movingGradient">
                <div class="loginBox container-fluid">
                    <h4 class="headerText"><span class="textGradient">UTOPIA Log in</span></h4>
                    <form action="login" method="POST">
                        <label for="email"><b>Email</b></label>
                        <div class="tooltipInside">
                            <input type="text" placeholder="Enter your email" name="email" required>
                        </div>
                        <label class="passwordPadding" for="password"><b>Password</b></label>
                        <div class="tooltipInside">
                            <input type="password" placeholder="Enter your password" name="password" required>
                            <span tabindex=0 class="dot movingGradient" data-tooltip="Forget password?" data-tooltip-position="right" (keyup.enter)="goToForgetPasswordPage()" (click)="goToForgetPasswordPage()">i</span>
                        </div>
                        <button class= "submitButton" type="submit">Login to Utopia</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div class="row lastRow">
        <div class="col d-flex justify-content-center">
            <div class="container createBorder movingGradient">
                <div class="signupBox container-fluid">
                    <hr>
                    <h4 class="createAccountHeader"><span class="textGradient">No account?</span></h4>
                    <button class= "createAccountButton movingGradient" (keyup.enter)="makeAnAccount()" (click)="makeAnAccount()">Create a Utopia account</button>
                </div>     
            </div>
        </div>
    </div>
</div>
