<div class="row no-gutters secondrow sidings">
    <div class="errContainerSpecial" *ngIf="adultErrorMsg">
      <span class="errText" [innerHTML]="adultErrorMsg"></span>
    </div>
</div>
<div class="row no-gutters secondrow sidings">
    <div class="col-1 firstdropdown">
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" [innerHTML]="tripRB" (click)="toggleOverlay('tripRBOverlay', $event)" type="button">
            </button>
            <div class="overlay" id="tripRBOverlay" appClickAway (clickOutside)="closeOverlay('tripRBOverlay')">
                <div class="row no-gutters dropdownRow">
                  <button class="dropdownButton firstSelection" (click)="afterChoosingAnOption('tripRBOverlay', 'One-Way', 'tripRB')">One-Way</button>
                </div>
                <div class="row no-gutters dropdownRow">
                  <button class="dropdownButton secondSelection" (click)="afterChoosingAnOption('tripRBOverlay', 'Round-Trip', 'tripRB')">Round-Trip</button>
                </div>
            </div>
          </div>
    </div>
    <div class="col-1 seconddropdown">
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" [innerHTML]="nonStopRB" (click)="toggleOverlay('nonStopOverlay', $event)" type="button">
            </button>
            <div class="overlay" id="nonStopOverlay" appClickAway (clickOutside)="closeOverlay('nonStopOverlay')">
              <div class="row no-gutters dropdownRow">
                <button class="dropdownButton firstSelection" (click)="afterChoosingAnOption('nonStopOverlay', 'Non-Stop', 'nonStopRB')">Non-Stop</button>
              </div>
              <div class="row no-gutters dropdownRow">
                <button class="dropdownButton secondSelection" (click)="afterChoosingAnOption('nonStopOverlay', 'Multihop', 'nonStopRB')">Multihop</button>
              </div>
          </div>
          </div>
    </div>
    <div class="col-1 thirddropdown">
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" [innerHTML]="numberOfPeople" (click)="toggleOverlay('numberOverlay', $event)" type="button">
            </button>
            <div class="overlay" id="numberOverlay" appClickAway (clickOutside)="closeOverlay('numberOverlay')">
              <div class="row no-gutters dropdownRow" style="padding-top: 10px;">
                <label for="adults">Adults</label>
                <input type="number" value="1" id="adults" min="1" max="8" (change)="updateNumberOfPerson('Adult', $event)">
              </div>
              <div class="row no-gutters dropdownRow">
                <label for="children">Children</label>
                <input type="number" value="0" id="childrenAmount" min="0" max="8" (change)="updateNumberOfPerson('Children', $event)">
              </div>
            </div>
          </div>
    </div>
</div>
<div class="row no-gutters thirdrow sidings">
    <div class="col-md-3 firstbox flightsearch">
      <div class="errContainer" *ngIf="fromAirportErrorMsg">
        <span class="errText" [innerHTML]="fromAirportErrorMsg"></span>
      </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-plane-departure fa-lg"></i></span>
            </div>

            <!-- Airport Input -->
            <input type="text" class="form-control" [value]="fromAirportInput" placeholder="From..." (focus)="toggleOverlay('fromairports', $event)" (blur)="closeOverlay('fromairports')" (keyup)="airportSearch($event, 'from')">
          </div>
          <div class="airportoverlay fromairports" id="fromairports" (clickOutside)="closeOverlay('fromairports')">
            <div *ngIf="!fromAirportInput; else elseBlock" class="overlayHolder">
              <div class="row no-gutters justify-content-center">
                <i class="fas fa-plane fa-3x overlayHolderIcon"></i>
              </div>
              <div class="row no-gutters justify-content-center" style="margin-top: 15px;">
                <span class="headertext">Type to start flying</span>
              </div>
            </div>
            <ng-template #elseBlock>
              <div *ngIf="fromAirportPossibleDestinations.length == 0; else elseBlock1">
                <div class="row no-gutters justify-content-center">
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface special"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                </div>
                <div class="row no-gutters justify-content-center" style="margin-top: 15px;">
                  <span class="headertext">Could not find anything D:</span>
                </div>
              </div>
              <ng-template #elseBlock1>
                <!-- <app-servicingareadrop [city]="city" [where]= "where" (result)="displayResult($event)"></app-servicingareadrop> -->
              </ng-template>
            </ng-template>
          </div>  
    </div>
    <div class="col-md-auto secondbox flightsearch">
        <button class="btn swapbutton" (click)="swapLocations()"><i class="fas fa-exchange-alt fa-lg"></i></button>
    </div>
    <div class="col-md-3 thirdbox flightsearch">
      <div class="errContainer" *ngIf="toAirportErrorMsg">
        <span class="errText" [innerHTML]="toAirportErrorMsg"></span>
      </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1"><i class="fas fa-plane-arrival fa-lg"></i></span>
            </div>

            <!-- Airport Input -->
            <input type="text" class="form-control" [value]="toAirportInput" placeholder="To..." (focus)="toggleOverlay('toairports', $event)" (blur)="closeOverlay('toairports')" (keyup)="airportSearch($event, 'to')">
          </div>
          <div class="airportoverlay toairports" id="toairports" (clickOutside)="closeOverlay('toairports')">
            <div *ngIf="!toAirportInput; else elseBlock" class="overlayHolder">
              <div class="row no-gutters justify-content-center">
                <i class="fas fa-plane fa-3x overlayHolderIcon"></i>
              </div>
              <div class="row no-gutters justify-content-center" style="margin-top: 15px;">
                <span class="headertext">Type to start flying</span>
              </div>
            </div>
            <ng-template #elseBlock>
              <div *ngIf="toAirportPossibleDestinations.length == 0; else elseBlock1">
                <div class="row no-gutters justify-content-center">
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface special"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                  <i class="fas fa-sad-cry fa-3x overlayHolderIcon sadface"></i>
                </div>
                <div class="row no-gutters justify-content-center" style="margin-top: 15px;">
                  <span class="headertext">Could not find anything D:</span>
                </div>
              </div>
              <ng-template #elseBlock1>
                <!-- <app-servicingareadrop [city]="city" [where]= "where" (result)="displayResult($event)"></app-servicingareadrop> -->
              </ng-template>
            </ng-template>
          </div>       
    </div>
    <div class="col-md-4 fourthbox flightsearch">
        <div class="errContainer" *ngIf="calendarErrorMsg">
          <span class="errText" [innerHTML]="calendarErrorMsg"></span>
        </div>
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="calendar1"><i class="fas fa-calendar-day fa-lg"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="From..." (keyup)="addCalendar($event, 'from')">
            <div class="input-group-prepend">
              <span class="input-group-text" id="calendar2"><i class="fas fa-calendar-alt fa-lg"></i></span>
            </div>
            <input type="text" class="form-control" placeholder="To...(optional)" (keyup)="addCalendar($event, 'to')">
        </div>
    </div>
    <div class="col-md-auto fifthbox flightsearch">
        <button class="btn searchbutton" (click)="search()"><i class="fas fa-search fa-lg"></i></button>
    </div>
</div>