<app-header></app-header>
<div class="container-fluid">
    <form>
        <div class="row movingGradient no-gutters firstRow">
            <div class="col-md-6 firstcell"><span>UTOPIA</span></div>
            <div class="col-md-6 secondcell"><span>Password Reset</span></div>
        </div>
        <div class="row no-gutters secondRow">
            <div class="col-md-6">
                <label for="Password">
                    <b>New Password</b>
                    <div class="tooltipInside">
                    <input type="password" placeholder="Enter your new password" name="password" required>
                    </div>
                </label>
            </div>
            <div class="col-md-6">
                <label for="retyped password">
                    <b>Retype Password</b>
                    <div class="tooltipInside">
                    <input type="password" placeholder="Retype password" name="passwordvalidation" required>
                    </div>
                </label>
            </div>
        </div>
        <div class="row no-gutters thirdRow">
            <div class="col-md-12">
                <button class= "submitButton" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>