<app-mainheader [hideSignInButton]="true"></app-mainheader>
<div class="container-fluid">
    <app-alert
    *ngIf="errorMsg"
    [message]="errorMsg"
    (closeEvent)="onCloseAlert()"
    >
    </app-alert>
    <form
    *ngIf="!isLoading"
    #passwordResetFormWithToken="ngForm"
    (ngSubmit)="onSubmitPasswordResetWithToken(passwordResetFormWithToken)"
    >
        <div class="row movingGradient no-gutters firstRow">
            <div class="col-md-6 firstcell"><span>UTOPIA</span></div>
            <div class="col-md-6 secondcell"><span>Password Reset</span></div>
        </div>
        <div class="row no-gutters secondRow">
            <div class="col-md-6">
                <label for="Password">
                    <b>New Password</b>
                    <div class="tooltipInside">
                    <input 
                    type="password" 
                    placeholder="Enter your new password"
                    id="password"
                    ngModel 
                    name="password"
                    autocomplete="current-password"
                    required
                    password>
                    </div>
                </label>
            </div>
            <div class="col-md-6">
                <label for="retyped password">
                    <b>Retype Password</b>
                    <div class="tooltipInside">
                    <input type="password" 
                    placeholder="Retype password" 
                    id="passwordValidation"
                    ngModel
                    name="passwordvalidation"
                    autocomplete="current-password"
                    required
                    password
                    >
                    </div>
                </label>
            </div>
        </div>
        <div class="row no-gutters thirdRow">
            <div class="col-md-12">
                <button class= "submitButton" type="submit">Submit</button>
            </div>
        </div>
    </form>
</div>