p {
  font-family: "Lato", sans-serif;
  font-weight: bold;
}

a {
  font-family: "Lato", sans-serif;
}

a:focus {
  outline: 2px dashed #1508af;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.75);
  z-index: 50;
}

.alert-box {
  position: fixed;
  top: 30vh;
  left: 20vw;
  width: 60vw;
  padding: 16px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
}

.alert-box-actions {
  text-align: right;
}

.close-button {
  font-family: "Futura";
  font-weight: 600;
  color: white;
  font-size: large;
  background-color: #1508af;
  padding: 7px 20px;
  margin: 40px 0 0 0;
  border: none;
  cursor: pointer;
  width: 80%;
}

.close-button:hover {
  background-color: #0c0558;
}
