<div *ngIf="tickets">
  <p *ngIf="tickets.length == 0 && listType === 0">
    There are no past tickets to display. We look forward to your first flight
    with us!
  </p>
  <p *ngIf="tickets.length == 0 && listType === 1">
    There are no upcoming tickets. Why not book a flight somewhere?
  </p>
  <div *ngIf="tickets.length != 0" class="col-12">
    <h3 *ngIf="listType === 0">Past flight tickets:</h3>
    <h3 *ngIf="listType === 1">Upcoming flight tickets:</h3>
    <table class="table table-responsive" id="ticketsTable">
      <thead>
        <tr>
          <th></th>
          <!-- detail link -->
          <th>Flight ID</th>
          <th>Name</th>
          <th>Seat class</th>
          <th>Seat number</th>
          <th>Status</th>
          <th>Date/Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ticket of tickets">
          <td><a href="/tickets/{{ ticket.id }}">Details</a></td>
          <td>{{ ticket.flightId }}</td>
          <td>{{ ticket.passengerName }}</td>
          <td>{{ ticket.seatClass }}</td>
          <td>{{ ticket.seatNumber }}</td>
          <td>{{ ticket.statusPrettyPrint }}</td>
          <td>{{ ticket.timePrettyPrint }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div *ngIf="error">
  <h2>{{ error.status }} Error</h2>
  <p>{{ error.message }}</p>
</div>