<h4>Welcome to the home page!</h4>

<span>
    This page lives at home.component.html. Right now there's nothing here, but viewing user functionality works. Go to 
    <a href="http://localhost:4200/users/profile/1">http://localhost:4200/users/profile/1</a>
    to see an example user profile page. The orchestrator needs to be running on your system on port 8080 for this to work, and the user ID in that URL must be a valid ID in your database for right now.
    <br>
    The users link in the navbar is a placeholder for future use and for the sake of styling in the meantime.
    </span>
