<app-mainheader></app-mainheader>
<div class="container-fluid">
  <form>
    <div class="row movingGradient no-gutters">
      <div class="col-md-6"><span>UTOPIA</span></div>
      <div class="col-md-6 secondcell"><span>Your ticket to the skies</span></div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="email">
          <b>Email</b>
          <div class="tooltipInside">
            <input type="text" placeholder="Enter your email" name="email" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="firstname">
          <b>First Name</b>
          <div class="tooltipInside">
            <input type="text" placeholder="Enter your first name" name="firstname" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="lastname">
          <b>Last Name</b>
          <div class="tooltipInside">
            <input type="text" placeholder="Enter your last name" name="lastname" required>
          </div>
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="address">
          <b>Address</b>
          <div class="tooltipInside">
            <input type="text" placeholder="Address Line" name="mainaddress" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="city">
          <b>City</b>
          <div class="tooltipInside">
            <input type="text" placeholder="City" name="City" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="State/Province">
          <b>State/Province</b>
          <div class="tooltipInside">
            <input type="text" placeholder="State/Province" name="state" required>
          </div>
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="address">
          <b>Postal Code</b>
          <div class="tooltipInside">
            <input type="text" placeholder="Postal code" name="postalcode" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="birthday">
          <b>Birthdate</b>
          <div class="tooltipInside">
            <input class="month" type="number" min="1" max="12" placeholder="MM"
                   name="monthbirthdate" required>
            <input class="day" type="number" min="1" max="31" placeholder="DD" name="daybirthdate"
                   required>
            <input class="year" type="number" min="1900" max="2100" placeholder="YYYY"
                   name="yearbirthdate" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="phonenumber">
          <b>Phone Number</b>
          <div class="tooltipInside">
            <input class="month" type="number" min="0" max="999" placeholder="XXX" name="areacode"
                   required>
            <input class="day" type="number" min="0" max="999" placeholder="XXX" name="prefix"
                   required>
            <input class="year" type="number" min="0" max="9999" placeholder="XXXX"
                   name="line number" required>
          </div>
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="password">
          <b>Password</b>
          <div class="tooltipInside">
            <input type="password" placeholder="Password" name="password" required>
          </div>
        </label>
      </div>
      <div class="col-md-4">
        <label for="birthday">
          <b>Retype password</b>
          <div class="tooltipInside">
            <input type="password" placeholder="Retype Password" name="passwordvalidation" required>
          </div>
        </label>
      </div>
      <div class="col-md-4 submitColumn">
        <button class="submitButton" type="submit">Submit</button>
      </div>
    </div>
    <div class="row movingGradient no-gutters">
      <div class="col-md-12"><span>Stop. Go. Utopia</span></div>
    </div>
  </form>
</div>
