<app-mainheader [hideSignInButton]="true"></app-mainheader>
<div class="container-fluid">
  <form [formGroup]="accountForm"
        (ngSubmit)="onSubmit()">
    <div class="row movingGradient no-gutters">
      <div class="col-md-6"><span>UTOPIA</span></div>
      <div class="col-md-6 secondcell"><span>Your ticket to the skies</span></div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="email">
          <b>Email</b>
          <input id="email"
                 class="tooltipInside"
                 type="email"
                 formControlName="email"
                 placeholder="Enter your email"
                 name="email"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="firstName">
          <b>First Name</b>
          <input id="firstName"
                 class="tooltipInside"
                 type="text"
                 formControlName="firstName"
                 placeholder="Enter your first name"
                 name="firstName"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="lastName">
          <b>Last Name</b>
          <input id="lastName"
                 class="tooltipInside"
                 type="text"
                 formControlName="lastName"
                 placeholder="Enter your last name"
                 name="lastName"
                 required
          />
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="addrLine1">
          <b>Address</b>
          <input id="addrLine1"
                 class="tooltipInside"
                 type="text"
                 formControlName="addrLine1"
                 placeholder="Enter your street address"
                 name="addrLine1"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="addrLine2">
          <b>Apt/Suite</b>
          <input id="addrLine2"
                 class="tooltipInside"
                 type="text"
                 formControlName="addrLine2"
                 placeholder="(If applicable)"
                 name="addrLine2"
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="phoneNumber">
          <b>Phone Number</b>
          <input id="phoneNumber"
                 class="tooltipInside"
                 type="tel"
                 formControlName="phoneNumber"
                 placeholder="Enter your phone number"
                 required
          />
        </label>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="city">
          <b>City</b>
          <input id="city"
                 class="tooltipInside"
                 type="text"
                 formControlName="city"
                 placeholder="Enter your city"
                 name="city"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="state">
          <b>State/Province</b>
          <!--FIXME Replace with dropdown-->
          <input id="state"
                 class="tooltipInside"
                 type="text"
                 formControlName="state"
                 placeholder="Enter your State/Province"
                 name="state"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="postalCode">
          <b>Postal Code</b>
          <input id="postalCode"
                 class="tooltipInside"
                 type="text"
                 formControlName="postalCode"
                 placeholder="Enter your postal code"
                 name="postalCode"
                 required
          />
        </label>
      </div>

    </div>
    <div class="row no-gutters">
      <div class="col-md-4">
        <label for="password">
          <b>Password</b>
          <input id="password"
                 class="tooltipInside"
                 type="password"
                 formControlName="password"
                 placeholder="Enter a password"
                 name="password"
                 required
          />
        </label>
      </div>
      <div class="col-md-4">
        <label for="confirmPassword">
          <b>Retype password</b>
          <input id="confirmPassword"
                 class="tooltipInside"
                 type="password"
                 formControlName="confirmPassword"
                 placeholder="Retype your password"
                 name="confirmPassword"
                 required
          />
        </label>
      </div>
      <div class="col-md-4 submitColumn">
        <button
          class="submitButton"
          type="submit"
          [disabled]="!accountForm.valid"
        >
          Submit
        </button>
      </div>
    </div>
    <div class="row movingGradient no-gutters">
      <div class="col-md-12"><span>Stop. Go. Utopia</span></div>
    </div>
  </form>
</div>
